.book_wrapper{
	padding:15px 0;
	.book{
		margin-bottom:15px;
		header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			line-height:30px;
			margin-bottom: 15px;
			h2{
				font-size: 1.2rem;
				font-weight: normal;
				color: #111;
			}
			.router-link-active{
				font-size:1rem;
				color:#42bd56;
			}
		}
		.book_content{
			display:flex;
			li{
				margin-right: 10px;
				font-size:.94rem;
				width: 90px;
				img{
					width: 90px;
					height: 132px;
					border-radius: 4px;
				}
				p{
					margin-top: .6rem;
					margin-bottom:7px;
					font-size:11px;
					text-align: center;
					white-space:nowrap;
					text-overflow:ellipsis;
					overflow: hidden;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	.book_header{
		h2{
			display: inline-block;
		    min-width: 4em;
		    margin-bottom: 0;
		    color: #111;
		    padding-left: 0;
		    padding-bottom: 0;
		    font-size: 1.06rem;
		    font-weight:normal
		}
	}
}