
.border-1px(@color){
	position: relative;
	&::after{
		position:absolute;
		content: "";
		display:block;
		width: 100%;
		bottom: 0;
		left: 0;
		border-bottom: 1px solid @color;
		
	}
	@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){ 
		&::after{
			-webkit-transform: scaleY(0.5);
		      	transform:scaleY(0.5);
		}
	}
	@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){ 
		&::after{
			-webkit-transform: scaleY(0.4); 
		      	transform:scaleY(0.4);
		      
		 }
	}
}
